.input {
  padding: var(--xss);
  background-color: var(--gray);
  height: 16px;
  border-radius: var(--base-border);

  &[data-is-loading="true"] {
    border: none;
    background: linear-gradient(110deg, var(--disabled) 8%, #f5f5f5 18%, var(--disabled) 33%);
    border-radius: var(--base-border);
    background-size: 200% 100%;
    animation: var(--animation-slow) shine linear infinite;
  }

  &[data-error="true"] {
    border-radius: var(--base-border);
    border: var(--small-width) solid var(--error);
    color: var(--error)
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    row-gap: var(--xss);
  }

  &__title {
    &[data-is-loading="true"] {
      background: var(--background);
      width: 50%;
      background: linear-gradient(110deg, var(--disabled) 8%, #f5f5f5 18%, var(--disabled) 33%);
      border-radius: var(--small-width);
      background-size: 200% 100%;
      animation: var(--animation-slow) shine linear infinite;
    }
  }

  &__showPassword {
    position: absolute;
    top: 3px;
    right: 0;//var(--xs);
    width: 20px;
    height: 20px;
    stroke: #000;
    cursor: pointer;

    &_input {
      padding: var(--xss) 20px var(--xss) var(--xss);
    }
  }

  &:focus {
    background-color: var(--gray);
  }

  &__error {
    font-size: var(--font-small);
    color: var(--error);
    white-space: pre-wrap;

    &_wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &_block {
      row-gap: var(--xss);
      min-height: 42px;
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
